- content_for :the_banners_main do

  %h1 Создать баннер

  = link_to 'Назад', banners_url, class: 'pull-right'

  %br

  = form_for @banner, url: banners_url, method: :post, html: { multipart: true } do |f|
    - if @banner.errors.any?
      #error_explanation
        %h2= "#{pluralize(@banner.errors.count, 'error')} prohibited this banner from being saved:"
        %ul
          - @banner.errors.full_messages.each do |msg|
            %li= msg

    .field
      = f.label :name, 'Имя'
      = f.text_field :name, class: 'form-control'
    %br

    .field
      = f.label :html_code, 'HTML-код'
      = f.text_area :html_code, class: 'form-control'
    %br

    .field
      = f.label :uri, 'Ссылка'
      = f.text_area :uri, class: 'form-control'

    %hr

    .field
      = f.label :w, 'Ширина (пкс.)'
      = f.text_field :w, class: 'form-control'
    %br

    .field
      = f.label :h, 'Высота (пкс.)'
      = f.text_field :h, class: 'form-control'
    %br

    .field
      = f.label :location, 'Позиция'
      = f.select :location, options_for_select(Banner.locations)
    %br

    .field
      = f.label :image, 'Изображение'
      = f.file_field :image

    %hr

    .field
      = f.label :state, 'Опубликовать?'
      = f.select :state, '<option value="publication">Да</option><option value="draft">Нет</option>'.html_safe
    %br

    .actions
      = f.submit 'Сохранить', class: 'btn btn-default'
